<div class="container mt-4">
  <div class="card">
    <h3 class="card-header">Students</h3>
    <div class="card-block" *ngIf="!students">
      <div class="d-flex justify-content-center">
        <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
      </div>
    </div>
    <table class="table table-striped" *ngIf="students">
      <thead>
        <tr>
          <th>Student ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td><a [routerLink]="['/profile', student.studentId]">{{ student.studentId }}</a></td>
          <td>{{ student.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
